<html>
<head>
    <title> Solved Exam Page </title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/solvedExamPagejQuery.js"></script>

</head>
<body>

<input type="hidden" id="hiddenID" value="<%= message %>">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" id="welcome"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <form id="myform" method="get" action="/humanResources/logout">
                    <!-- form elements -->
                    <a href="#"  class="nav-link" onclick="document.getElementById('myform').submit()">Logout <span class="sr-only">(current)</span></a>
                </form>
            </li>
        </ul>
        <form class="form-inline" action="/humanResources/searchPage" method="post">
            <input name="searchCriteria" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row" id="exam">

        </div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="container">
    <form action="/humanResources/homepage" method="get">
        <button type="submit" id="backButton" class="btn btn-primary"> Back </button>
    </form>
</div>


</body>
</html>



